
*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

local.properties

proguard/

.idea/
*.iml
*.ipr
*.iws

.cxx/
.externalNativeBuild/

captures/

*.log

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*.orig
